<div id="content" class="clearfix">
  <section id="left">
    <div id="userStats" class="clearfix">
      <div class="pic">
        <!--<a href="#"><img src="img/user_avatar.jpg" width="150" height="150"></a>-->
        <%= link_to (image_tag "artist_noimage.jpg", :width=>"150", :height=>"150"),"#" %>
      </div>

      <div class="data">
        <h1><%=	 @artist.full_name %></h1>
        <h3><%=	 @artist.getLocation %></h3>
        <h4><a href="http://spyrestudios.com/"><%=	@artist.website  %></a></h4>
        <div class="socialMediaLinks">
          <a href="<%= @artist.getTwitterlink %>" rel="me" target="_blank"><img src="img/twitter.png" alt="@jeanlinux"></a>
          <a href="<%= @artist.getFacebooklink %>"  rel="me" target="_blank"><img src="img/gowalla.png"></a>
        </div>
        <div class="sep"></div>
        <ul class="numbers clearfix">
          <li>Reputation<strong>185</strong></li>
          <!--<li>Checkins<strong>344</strong></li>-->
          <!--<li class="nobrdr">Days Out<strong>127</strong></li>-->
        </ul>
      </div>
    </div>

    <h1>About Me:</h1>
    <p><%= @artist.about %></p>
  </section>

  <section id="right">
    <!--<div class="gcontent">-->
      <!--<div class="head"><h1>Badges(3)</h1></div>-->
      <!--<div class="boxy">-->
        <!--<p>Keep working to unlock badges!</p>-->

        <!--<div class="badgeCount">-->
          <!--<a href="#"><img src="img/foursquare-badge.png"></a>-->
          <!--<a href="#"><img src="img/foursquare-badge.png"></a>-->
          <!--<a href="#"><img src="img/foursquare-badge.png"></a>-->
        <!--</div>-->

        <!--<span><a href="#">See all…</a></span>-->
      <!--</div>-->
    <!--</div>-->

    <div class="gcontent">
      <div class="head"><h1><%= "Arts By " + @artist.full_name %></h1></div>
      <div class="boxy">
        <p>Total Arts in Gallery - <%= @artist.arts.count %> </p>

        <div class="artslist clearfix">
          <%# render :partial => "arts" %>
        </div>

        <span><a href="#">See all...</a></span>
      </div>
    </div>
  </section>
</div>